@import "_layout";
@import "_brand";
@import "_menu";
@import "_sidebar";
@import "_posts";



// 以下为找不到styl中的样式位置，自行添加修改的CSS

// ##标题字体调整
.site-title {
  font-family: "Comic Sans MS" !important;
}

// ##搜索框样式调整
.local-search-header {
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 10px !important;
}
// .search-icon {
//   top: 19px;
// }
// #local-search-input {
//   padding: 13px;
// }
// .popup-btn-close {
//   top: 16px;
// }
// #local-search-input {
//   width: 600px;
// }


